.slides-games {
  display: flex;
  margin-bottom: 32px;
}

.read-dead-redemption {
  background-image: url('../../assets/img/read-dead.webp');
}

.subnautica {
  background-image: url('../../assets/img/subnautica-below-zero.webp');
  background-position: center;
  background-size: cover;
}

.days-gone {
  background-image: url('../../assets/img/days-gone.webp');
  background-position: center;
  background-size: cover;
}

.sons-of-the-forest {
  background-image: url('../../assets/img/sons-of-the-forest.webp');
  background-position: center;
  background-size: cover;
}

.background-dark {
  background: linear-gradient(266.12deg, rgba(14, 19, 30, 0) 0%, rgba(14, 19, 30, 0.7) 44.25%, rgba(14, 19, 30, 0.7) 88.17%, rgba(14, 19, 30, 0) 100%);
  height: 500px;
  display: flex;
  align-items: center;
  width: 100vw;
}

.game-desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #FFF;
  margin: 32px 0 37px 0;
}

.game-desc p {
  max-width: 500px;
}

.game-buy button {
  background-color: var(--blue-30);
  outline: none;
  border: none;
  padding: 18px 48px;
  border-radius: 4px;
}

.game-buy button:hover {
  background-color: var(--blue-40);
  transition: background-color 0.5s;
}

.game-buy button a {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFF;
}