.featured-game {
  background-image: url('../../assets/img/read-dead.png');
  background-position: center;
}

.background-dark {
  background: linear-gradient(266.12deg, rgba(14, 19, 30, 0) 0%, rgba(14, 19, 30, 0.7) 44.25%, rgba(14, 19, 30, 0.7) 88.17%, rgba(14, 19, 30, 0) 100%);
  height: 500px;
  display: flex;
  align-items: center;
}

.featured-game .game {
  margin: 0 auto;
}

.game-desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #FFF;
  margin: 32px 0 37px 0;
}

.game-desc p {
  max-width: 500px;
}

.game-buy button {
  background-color: var(--blue-30);
  outline: none;
  border: none;
  padding: 18px 48px;
  border-radius: 4px;
}

.game-buy button:hover {
  background-color: var(--blue-40);
  transition: background-color 0.5s;
}

.game-buy button a {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFF;
}

.featured-line {
  display: flex;
  justify-content: center;
}

.featured-line span {
  width: 64px;
  height: 6px;
  margin: 32px 0 80px 0;
  background-color: #FFF;
  border-radius: 1px;
  cursor: pointer;
}

.featured-line span:not(:last-child) {
  margin-right: 24px;
}

.featured-line span.active {
  background-color: var(--blue-30);
  cursor: default;
}