.header {
  background-color: var(--dark-20);
  display: flex;
  padding: 0 40px;
}

.header .container-size {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  margin: 20px 0;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
}

.menu ul li {
  margin-left: 40px;
  padding: 29px 0;
}

.menu ul li.active {
  border-bottom: 4px solid var(--blue-30);
  display: flex;
  align-items: center;
  height: 100%;
}

.menu ul li.active a {
  color: var(--blue-30);
  font-weight: 700;
}

.menu ul li a {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFF
}

.tools {
  display: flex;
  align-items: center;
}

.bell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #0094FF3D;
  border-radius: 50%;
  position: relative;
}

.bell::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--blue-30);
  position: absolute;
  right: 0;
  top: 2px;
  border-radius: 50%;
}

.message {
  margin: 0 64px 0 40px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-img a {
  position: relative;
}

.profile-img a::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  bottom: 2px;
  right: 0;
  background-color: #33FF00;
  border-radius: 50%;
}

.profile-dropdown{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 14px;
}

[data-menu="button"] {
  display: none;
}

@media (min-width: 320px) and (max-width: 900px) {
  .header .container-size {
    justify-content: space-between;
  }

  .menu {
    display: none;
    position: absolute;
  }

  .menu .nav ul li {
    margin-left: 0;
    border-bottom: 2px solid #FFF;
  }

  .menu ul li.active {
    height: auto;
    display: block;
    border-top: 2px solid #fff;
  }

  .menu.active {
    display: block;
    justify-content: center;
    /* O forwards é usado para quando acontecer a animação ele continuar no fim da animação. */
    animation: show-right .3s forwards;
    z-index: 999;
  }

  .container-size .menu .nav {
    display: flex;
    background-color: var(--dark-20);
    position: absolute;
    left: -40px;
    top: 119px;
    z-index: 999;
  }

  .message {
    margin: 0 0 0 40px;
  }

  .tools {
    display: flex;
    justify-content: center;
    background-color: var(--dark-20);
    position: absolute;
    top: 39px;
    z-index: 999;
    left: -40px;
  }

  .menu .nav li, .tools {
    padding: 1.25rem 0;
    width: 50vw;
  }

  .menu .nav li a {
    font-size: 0.9375rem;
    height: 3.75rem;
    margin-left: 1.875rem;
  }

  .menu .nav ul {
    display: flex;
    flex-direction: column;  
  }

  [data-menu="button"] {
    display: flex;
    align-items: center;
    background-color: #222;
    border: none;
    font-weight: 700;
    cursor: pointer;
    margin: 10px;
  }

  [data-menu="button"]::before {
    content: '';
    display: inline-block;
    height: 4px;
    width: 24px;
    background-color: #FFF;
    box-shadow: 0 8px #FFF, 0 -8px #FFF;
    margin-right: 4px;
    transition: transform .3s;
    border-radius: 4px;
  }

  [data-menu="button"].active::before {
    transform: rotate(90deg);
  }
}
