.header {
  background-color: var(--dark-20);
  display: flex;
  padding: 0 40px;
}

.header .container-size {
  display: flex;
  align-items: center;
  width: 100%;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  margin: 20px 0;
}

.container-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.container-nav ul li {
  margin-left: 40px;
  padding: 29px 0;
}

.container-nav ul li.active {
  border-bottom: 4px solid var(--blue-30);
  display: flex;
  align-items: center;
  height: 100%;
}

.container-nav ul li.active a {
  color: var(--blue-30);
  font-weight: 700;
}

.container-nav ul li a {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFF
}

.tools {
  display: flex;
  align-items: center;
}

.bell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #0094FF3D;
  border-radius: 50%;
  position: relative;
}

.bell::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--blue-30);
  position: absolute;
  right: 0;
  top: 2px;
  border-radius: 50%;
}

.message {
  margin: 0 64px 0 40px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-img a {
  position: relative;
}

.profile-img a::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  bottom: 2px;
  right: 0;
  background-color: #33FF00;
  border-radius: 50%;
}

.profile-dropdown{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 14px;
}

