.header {
  background-color: var(--dark-20);
  display: flex;
  padding: 0 40px;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav {
  display: flex;
}

.logo {
  margin: 20px 40px;
}

.items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.items li {
  margin-left: 40px;
}

.items li.active {
  border-bottom: 4px solid var(--blue-30);
  display: flex;
  align-items: center;
  height: 100%;
}

.items li.active a {
  color: var(--blue-30);
  font-weight: 700;
}

.items li a {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFF
}

.tools {
  display: flex;
  align-items: center;
}

.bell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #0094FF3D;
  border-radius: 50%;
  position: relative;
}

.bell::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--blue-30);
  position: absolute;
  right: 0;
  top: 2px;
  border-radius: 50%;
}

.message a {
  margin: 0 64px 0 40px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-img a {
  position: relative;
}

.profile-img a::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  bottom: 6px;
  right: 0;
  background-color: #33FF00;
  border-radius: 50%;
}

.perfil-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 14px;
}

.featured-nav {
  display: flex;
  justify-content: center;
}

.featured-nav span {
  width: 64px;
  height: 6px;
  margin: 32px 0 80px 0;
  background-color: #FFF;
  margin-left: 24px;
  border-radius: 1px;
}

.featured-nav span.active {
  background-color: var(--blue-30);
}