.store-navegation {
  margin: 0 auto;
  background-color: var(--dark-20);
  padding: 0 40px;
  border-radius: 4px;
  margin-bottom: 40px;
}

.store-navegation ul {
  display: flex;
  justify-content: space-between;

}

.store-navegation ul li a {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFF;
}

.store-navegation ul li {
  padding: 29px 0;
}

.store-navegation ul li.active {
  border-bottom: 4px solid var(--blue-30);
}

.store-navegation ul li.active a {
  color: var(--blue-30);
}

