.games-categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: 100px;
}


.game-category {
  margin-bottom: 40px;
}

.game-category:hover {
  transform: scale(1.04);
  transition: transform 0.5s;
}

.game-category-img img {
  width: 100%;
}

.game-category-title h2 {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin: 12px 0 20px 0;
}

.game-discount-porcent {
  padding: 4px 8px;
  background-color: var(--blue-30);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color: #FFF;
}

.game-price-before {
  margin: 0 18px 0 12px;
}

.game-price-before, .game-price-now {
  color: var(--dark-30);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-decoration: line-through;
}

.game-price-now {
  color: #FFF;
  text-decoration: none;
}


@media (min-width: 320px) and (max-width: 575px) {
  .store-categories .games-categories {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 575px) and (max-width: 900px) {
  .store-categories .games-categories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) and (max-width: 1175px) {
  .store-categories .games-categories {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1920px) {
  .games-categories{
    gap: 32px;
  }
}