.store-nav {
  margin-bottom: 100px;
}

.store-nav ul {
  display: flex;
  justify-content: space-between;
}

.store-nav li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 280px;
  height: 60px;
  background-color: var(--blue-30);
  border-radius: 4px;
}