body {
  font-family: "Inter", sans-serif;
  background-color: #0E131E;
}

.title {
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.container-size {
  width: 80vw;
  margin: 0 auto;
}
