.modal-container {
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
}

[data-modal="container-messages"] .modal {
  width: auto;
  height: auto;
  padding: 20px;
}

.modal-container.active {
  display: flex;
}

.modal {
  width: 80vw;
  height: 60vh;
  max-width: 600px;
  background-color: #1B2838;
  position: relative;
  border-radius: 4px;
  overflow-y: scroll;
}

.modal::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: var(--dark-10);
  border-radius: 10px;
}

.notification {
  color: #FFF;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.notification-title {
  margin-bottom: 10px;
  margin-left: 10px;
  position: relative;
}

.notification-title::after {
  content: "";
  display: block;
  background-color: var(--support-01);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: -15px;
}

.notification-desc, .message-desc {
  color: var(--dark-30);
  margin-left: 10px;
  font-size: 14px;
}

[data-modal="container-messages"] .modal .messages h1 {
  margin: 0;
}

.message-desc {
  text-align: center;
  margin-top: 20px;
}

.modal h1 {
  margin: 20px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}

.active .modal {
  /* O forwards é usado para quando acontecer a animação ele continuar no fim da animação. */
  animation: modal .3s forwards;
}

.close {
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #FFF;
  font-weight: 700;
}
