:root {
  --blue-10: #0065AD;
  --blue-20: #007CD6;
  --blue-30: #0094FF;
  --blue-40: #2EA7FF;
  --blue-50: #5CBAFF;
  --blue-60: #8ACEFF;
  --dark-10: #0E131E;
  --dark-20: #1B2838;
  --dark-30: #AAAAAA;
  --support-01: #2962FF;
  --support-02: #0BB07B;
  --support-03: #FFCE52;
  --support-04: #F03D3D;
  --support-05: #E0E0E0;
}